

/*...Base Rules...*/
  h1 {
    text-align: center;
  }

  footer {
    text-align: center;
  }
/*...Layout Rules...*/

/*...Modules Rules...*/

  .main-content {
    text-align: center;
  }
  .main-nav ul li{
    list-style-type: none;
    width: 100%;
    margin: 5px 5px;
    text-align:center;
    display: block;
  }

/*...State Rules...*/

/*...Theme Rules...*/

/*...Media Queries...*/
