
* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/*...Base Rules...*/
html body {
  height: 100%;
}

html {
  margin: 0;
}

header {
  text-align: center;
  background-color: #F4F4F4;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: lightgrey;
}

img {
  max-width: 95%;
}

footer {
  background-color: slategrey;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
}

/*...Layout Rules...*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*...Modules Rules...*/
  .main-nav p {
    background-color: white;
    margin: 3px 3px;
    padding: 10px;
  }

  .introduction {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main-content {
    text-align: center;
    background-color: lightgrey;
  }

  .name-back-to-top {
    border-top: solid 1px lightgrey;
    max-width: 100%
  }

  .name-back-to-top p {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navigator {
    display: none;
  }

/*...State Rules...*/

@media (min-width: 768px) {

  img {
    max-height: 183px;
  }

  .main-nav p {
    display: inline-block;
  }
  
  .computer {
    float: right;
    padding-left: 20px;
  }

  .main-content {
    text-align: center;
  }

  .marketing,
  .engine,
  .travel-app,
  .favorites-map,
  .photo-gallery,
  .calculator {
    float: left;
    max-width: 50%;
    box-sizing: border-box;
    }
}


@media (min-width: 1024px) {

  h1 {
    float: left;
    clear: left;
    margin-left: 15px;
  }

  .main-nav {
    float: right;
    clear: right;
  }

  .main-nav p {
    display: inline-block;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .introduction {
    padding-top: 100px;
  }

  .computer {
    max-height: none;
    margin-bottom: 20px;
  }

  .introduction {
    margin-left: 20px;
    margin-right: 20px;
  }

  .introduction p {
    font-size: 150%;
    text-align: left;
  }

  .marketing,
  .engine,
  .travel-app,
  .favorites-map,
  .photo-gallery,
  .calculator {
    float: left;
    max-width: 33%;
    box-sizing: border-box;
  }

  .top {
    display: none;
  }

  .Joseph {
    float: left;
    margin-left: 20px;
    vertical-align: middle;
  }

  .navigator {
    float: right;
    margin-top: 5px;
    display: inline-block;
  }


}

/*...Theme Rules...*/
