
* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/*...Base Rules...*/
html body {
  height: 100%;
}

html {
  margin: 0;
}

header {
  text-align: center;
  background-color: #F4F4F4;
}

body {
  background-color: lightgrey;
}

img {
  max-width: 95%;
}

footer {
  background-color: slategrey;
  text-align: center;
  max-width: auto;
  padding-top: 20px;
  margin-top: 10px;
}

/*...Layout Rules...*/

/*...Modules Rules...*/
  .main-nav p {
    background-color: white;
    margin: 3px 3px;
    padding: 10px;
  }

  .introduction {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main-content {
    text-align: center;
    max-width: auto;
    background-color: lightgrey;
  }

  .name-back-to-top {
    border-top: solid 1px lightgrey;
    max-width: 100%
  }

  .name-back-to-top p {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
  }


/*...State Rules...*/

@media (min-width: 768px) {

  .main-nav p {
    display: inline-block;
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;

  }

}


/*...Theme Rules...*/
